.demon {
  @media(max-width: 850px) {
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .image {
      width: 90%;
      position: sticky;
      top: 15px;
    }
    .text {
      width: 90%;
    }
  }

  @media(min-width: 850px) {
    height: 100vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      margin-left: 30px;
    }

    .image {
      width: 512px;
    }
  }
}

.text {
  max-width: 480px;
  height: 512px;
  display: flex;
  flex-direction: column;
}

.description {
  flex-grow: 1;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.35rem;
  }
}

.footerLinks {
  display: flex;
  flex-direction: row;
  a, div {
    width: 33%;
  }
  a {
    color: rgba(0, 0, 0, 0.7);
  }
  .middle {
    text-align: center;
  }
}